/*Creado por Julián Fernández Herruzo UO300199*/
/*Layout general del proyecto MotoGP-Desktop*/

/* Especifidad 001 */
header {
    display: flex;
    flex-direction: row;
    align-items: center;       /* Centra verticalmente */
    justify-content: space-between; /* Espacio entre h1 y nav */
    flex-wrap: wrap;           /* Permite que el contenido se adapte en pantallas pequeñas */
}

/* Especifidad 002*/
header nav {
    display: flex;
    flex-direction: row;
    gap: 1em;                 /* Espacio entre enlaces */
    flex-wrap: wrap;           /* Permite que los enlaces bajen en pantallas pequeñas */
    align-items: center;       /* Centra verticalmente los enlaces */
    justify-content: flex-end; /* Alinea los enlaces a la derecha */
}

video {
width:100%;
height:auto;
}
audio {
width:100%;
}

@media (min-width: 320px) and (max-width:799px) {
    /* Especifidad 001 */
    header {
        /*Avisos por definicición pero son definidos en header original, y esto es mediaquery*/
        flex-direction: column;
        align-items: stretch;
        gap: 1em;
    }
    /* Especifidad 002*/
    header nav {
        /*Avisos por definicición pero son definidos en header nav original, y esto es mediaquery*/
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1em;
    }
    /*Especifidad 012*/
    body p:first-of-type {
        display: none;
    }
}