/*Creado por Julián Fernández Herruzo UO300199*/
/*Layout general del proyecto MotoGP-Desktop*/

/* Especifidad 001 */
header {
    display: flex;
    flex-direction: row;
    align-items: center;       /* Centra verticalmente */
    justify-content: space-between; /* Espacio entre h1 y nav */
    flex-wrap: wrap;           /* Permite que el contenido se adapte en pantallas pequeñas */
}

/* Especifidad 002*/
header nav {
    display: flex;
    flex-direction: row;
    gap: 1em;                 /* Espacio entre enlaces */
    flex-wrap: wrap;           /* Permite que los enlaces bajen en pantallas pequeñas */
    align-items: center;       /* Centra verticalmente los enlaces */
    justify-content: flex-end; /* Alinea los enlaces a la derecha */
}

/*Pensado para cuando se carga el documento infoCircuito.html*/
/*Especificidad 003*/
article > section > img {
    width: 40vw;
    height: auto;
    /*para que cada imagen se muestre en una linea distinta*/
    display: block;
    margin-bottom: 1em;
}

/*Pensado para mostrar cada label en una línea distinta*/
/*Especificidad 002*/
main input {
    display: block;
    margin-bottom: 1em; /* espacio entre líneas */
}

/*Pensado para el contenedor del mapa*/
/*Especificidad 002*/
body > div {
    width: 50%;
    height: 50vh; 
}


@media (min-width: 320px) and (max-width:799px) {
    /* Especifidad 001 */
    header {
        /*Avisos por definicición pero son definidos en header original, y esto es mediaquery*/
        flex-direction: column;
        align-items: stretch;
        gap: 1em;
    }
    /* Especifidad 002*/
    header nav {
        /*Avisos por definicición pero son definidos en header nav original, y esto es mediaquery*/
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1em;
    }
    /*Especifidad 012*/
    body > p:first-of-type {
        display: none;
    }
    
    /*Especifidad 001*/
    video {
    width:100%;
    height:auto;
    }
    /*Especifidad 001*/
    audio {
    width:100%;
    }

    /*Pensado para el carrusel de imagenes*/
    /*Especificidad 003*/
    article h2 + img {
        width: 100%;
        height: auto;
    }

    /*Pensado para cuando se carga el documento infoCircuito.html*/
    /*Especificidad 003*/
    article > section > img {
        width: 100%;
        height: auto;
    }



    /*Pensado para cuando se carga el archivo altimetria.svg*/
    /*Especificidad 002*/
    article svg {
        width: 100%;
        height: auto;
    }

    /*Pensado para no cortar los enlaces en móvil*/
    /*Especificidad 003*/
    article > section a {
        word-break: break-word;   /* or 'break-all' */
        overflow-wrap: anywhere;  /* modern, preferred */
    }

    /*Pensado para el contenedor del mapa*/
    /*Especificidad 002*/
    body > div {
        width: 100%;
        height: 50vh; 
    }

}